// Colors
$accent: #49d1ff;
$dark-cyan: #1e2125;
$cyan: #49ffea;
$white: #f1e8e8;
$black: #1a0612;

// Shadows
$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);
